<form action="" #eventForm="ngForm" (ngSubmit)="addEvent()">
    <div>
        <input type="text" name="fullName" id="" [(ngModel)]="eventDetail.fullName" required #fullName="ngModel"
            pattern="^[a-zA-Z]*$">
        <div *ngIf="fullName.touched || fullName.dirty">
            <div *ngIf="fullName.errors?.['required']">
                *required
            </div>
            <div *ngIf="fullName.errors?.['pattern']">
                inavalid
            </div>
        </div>
    </div>
    <div>
        <input type="text" name="" id="">
    </div>
    <button [disabled]="eventForm.invalid">submit</button>
</form>
<button (click)="makePDf()">Downlod PDF</button>

<table class="table" id="content">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Handle</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td colspan="2">Larry the Bird</td>
            <td>@twitter</td>
        </tr>
    </tbody>
</table>